appdirs
asn1crypto
attrs
Automat
botocore
cffi
constantly
cryptography
cssselect
docutils
idna
incremental
jmespath
lxml
packaging
paramiko
parsel
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
pyparsing
python-dateutil
queuelib
Scrapy
service-identity
six
smart-getenv
Twisted
w3lib
zope.interface
